#Ignore Doxygen Output
latex/
html/
Doxygen_output/latex/
Doxygen_output/html/

#Ignore mac DS_Store
.DS_Store

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

#Ignore swp file
*.swp

#ignore test lib exection file
test_lib

#Ignore vscode file
.vscode*

#ignore kernel obj file and other files
*.ko.cmd
*.o.cmd
*.mod.cmd
*.mod
*.mod.c
*.order
*.symvers
